<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>127.0.0.1:5000lhh</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="style.css" rel="stylesheet"> 
	
	
</head>
<body style="font-family:Montserrat;background-color:#333; ">
	

	<div class="header">    
	 <div style="width:50%;float:left;font-size:2vw;text-align:left;color:white; padding-top:1%">Fertilizers Recommendation System</div>
	  <div class="topnav-right" style="padding-top:0.5%;">
		
		
		<a class="active" href="{{ url_for('login')}}">Home</a>
		<a  href="{{ url_for('index')}}">Logout</a>
		
		
	  </div>
	</div>

<!--<body style="background-color:white";>
        <header id="head" class="header">
        <section  id="navbar">
			<br>
                <h1 style="color:green;"></i><center>Fertilizers Recommendation System</center></h1>
            <div class="nav--items">
				
                <ul>
                    <li><a  href="{{ url_for('index')}}">Home</a></li>
				<li><a href="{{ url_for('logout')}}">Logout</a></li>
            
               
                </ul>
            </div>
        </section>
    </header> 
-->
    <div class="container">
        <div id="content" style="margin-top:2em">
		<div class="container">
		  <div class="row">
			<div class="col-sm-6 bd" > <br><br>
			  <blockquote style="color:white;font-size:40px;"> Detect if your Plant is infected!!!</blockquote>
			  <p><h5><i style="color:white;font-size:25px;"> Agriculture is one of the major sectors world wide.Over the years it has developed and the use of new technologies and equipments replaced almost all the traditional methods of farming. The plant Diseases effect the Production. Identification of diseases and taking necessary precautions is all done through naked eye,which requires labour and labouratory.This application helps farmers in detecting the diseases by observing the spots on the leaves,which inturn saves effort and labor costs. </i></h5></p>
			<!---	<img src="https://www.spokanecounty.org/ImageRepository/Document?documentId=41892" style="height:240px"class="img-rounded" alt="Gesture">    -->
			<h4 style="color:white;">Upload Image Here</h4> <br>
			<form action = "http://localhost:5000/" id="upload-file" method="post" enctype="multipart/form-data">
				<label for="imageUpload" class="upload-label">
					
				</label>

				<input type="file" name="image" id="imageUpload" style="color:white;" accept=".png, .jpg, .jpeg,.pdf">
			</form>
          <br>
		  <a href="output.html">
			<button class="button button1" id="click">

			submit
		</button>   
	</a>
			</div>
			<div class="col-sm-6">
				<br><br><br><br><br><br>
				<div>
					<img src="../IBM _proj.jpg" style="height:350px" class="img-rounded" alt="Gesture">    

				</div>
			</div></div>
				
<!--

			<div class="image-section" style="display:none;">
				<div class="img-preview">
					<div id="imagePreview">
					</div>
				</div>
				<div>
					<button type="button" class="btn btn-info btn-lg " id="btn-predict">Analyse</button>
				</div>
			</div>

			<div class="loader" style="display:none;"></div>

			<h3>
				<span id="result"> </span>
			</h3>


		</div>
			</div> 
		-->
			 
		  </div>
		</div>
		</div>
    </div>
</body>

<footer>
    <!-- <script src="araraylist.js" type="text/javascript"></script>     -->
</footer>

</html>